body {
    padding: 0;
    margin: 0;
    background-color: rgb(225, 184, 252);
}
section {
    position: static;
    width: 80%;
    height: 100vh;
    background-image: url(photo.jpg);
    background-size: cover;
    animation: color-change 2s linear infinite;
}
@keyframes color-change {
    0%, 100% {
        filter: hue-rotate(0);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}